.form {
  position: relative;
  max-width: 447px;
  width: 100%;
  background-color: #26292d;
  padding: 24px;
  border-radius: 8px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;

  .input__wrapper {
    display: grid;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__label {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.44px;
    cursor: pointer;
  }

  &__input {
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #1c1e22;
    border: 1px solid #a0a0a1;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #a0a0a1;
    letter-spacing: 0.44px;
    outline: none;
    transition: all ease 0.2s;

    &:focus {
      border: 1px solid transparent;
      box-shadow: 0 0 0 0.1rem #ffffff;
    }

    &::placeholder {
      color: #a0a0a1;
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.44px;
    }
  }

  &__input--textarea {
    height: 150px;
    resize: none;
  }

  &__button {
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background-color: #5c62ec;
    color: #ffffff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease-in 0.5s;
    &:hover {
      border: 2px solid #ffffff;
    }
  }

  .error__message {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    color: #c72a3f;
  }

  &__modal {
    box-shadow: 0 1px 10px #1c1e22;
    padding: 25px;
    background-color: #26292d;
    max-width: 400px;
    width: calc(100% - 10%);
    border-radius: 8px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 71px;
      letter-spacing: -0.5px;
      margin-bottom: 10px;
    }
    
    &--text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 24px;
      letter-spacing: 0.15px;
      max-width: 300px;
      width: 100%;
      display: inline-flex;
    }
  }
}
