.contacts {
    margin-top: -64px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 128px;
  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;  
    margin-bottom: 44px;
    letter-spacing: 0.15px;
    
  }
}
